proc-1/
proc-2/
*.class

# Package Files #
*.jar
*.war
*.ear

# IntelliJ
*.iml
*.ipr
*.iws
.idea

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse
.classpath
.project
.settings/

# maven
target

.attach_pid*

# Precompiled Headers
*.gch
*.pch

# Object files
*.o
*.ko
*.obj
*.elf

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Visual Studio
*.user
*.ncb
*.suo
*.tlb
*.tlh
[Oo]bj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
[Tt]est[Rr]esult*
packages/
[Pp]ublish/
*.nupkg
